@import "vars";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
    line-height: normal;
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
}

body {
    min-width: $site-min-width;
    max-width: $site-max-width;
    margin: auto;
}

main {
    position: relative;
}

.page--scroll-locked {
    overflow: hidden;
}

@import "header";

@import "hero";

.content{
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    margin-top: 0;
    margin-bottom: 150px;
}

@import "biography";

@import "designers";

@import "testimonials";

@import "strong-points";

@import "footer";

@import "modal";